<div id="popupWindow">
    <div id="popupWindowBox">
        <div id="popupWindowContent"></div>
        <button id="popupWindowSave" class="popupWindowButton">Speichern</button>
        <button id="popupWindowCancel" class="popupWindowButton">Abbrechen</button>
    </div>
    
</div>