html{
    height:100vh;
}
body {
    background: linear-gradient( to bottom, #9abfda, #ccd9e1, #dcdcdc ); /* Siemens NX style */
    padding:0;
    margin:0;
    overflow:hidden;
    min-height:100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  /*Toolbar*/
#toolbar{
  width:100%;
  height:23px;
  padding:5px;
  padding-top:7px;
  background: rgb( 203,215,222 );
  z-index: 2;
}

#toolbarContent{
    width: 200%;
}

.toolbarBtn{
    height:18px;
    padding: 1px;
    margin-right: 8px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;

    cursor:pointer;
    overflow: hidden;
    outline:none;

    vertical-align:middle;
    float:left;
    
    transition: transform 0.1s;
}

.toolbarBtn:active{
    transform: scale( 0.9 );
}

#viewNamer{
    z-index: 1;
    display: none;
}

.toolbarTextInput{
    vertical-align: top;
    padding: 0px;
    height: 16px;
    float:left;
}

.dropdown{
    position:relative;
    float:left;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top:18px;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdownContentBtn:hover {
    background-color: orange;
}

.dropdownContentBtn{
    padding:8px;
    float:none;
    height:auto;
    width:100%;
    text-align:left;

    border:none;
    outline:none;

    background-color:transparent;

    cursor: pointer;
}

.dropdownContentBtn img{
    vertical-align: text-bottom;
}



/* Keine Ansicht verfügbar */
#unavDisplay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 5;
    background-color: white;

    display: none;
}

#unavDisplay img{
    width: 50px;
    height: 50px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-left:-25px;
    margin-top:-25px;
}

/*Popup Window*/
#popupWindow{
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    padding-top: 100px;
    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: rgba( 0,0,0,0.4);
}

#popupWindowBox{
    background-color: #fefefe;

    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 300px;
    max-height: 60%;
    overflow: auto;
}

#popupWindowContent{
    padding-bottom:15px;
}

.popupWindowButton{
    border: 1px solid black;;
    padding: 5px;
    font-size: 16px;
    background-color: #e7e7e7;

    cursor: pointer;
}

.animationSettingsInput{
    width: 50px;
}

.draggable:hover{
    cursor: pointer;
}

.draggableItem{
    margin: 5px;
    background-color: #eff1f4;
}

/* Context Menu*/
#contextMenu{
    position: absolute;
    display: none;

    z-index: 4;

    width: auto;
    height: auto;
    
    background-color: #f2f5f7;
}

#drawingModeThresholdSlider{
    width: 150px;
}

.contextSubmenu{
    display: none;

    position: absolute;

    background-color: #f2f5f7;
    min-width: 180px;

    z-index:4;
}

.contextMenuBtn{
    padding:8px;
    height:auto;
    width:100%;
    text-align:left;

    border:none;
    outline:none;

    background-color:transparent;

    cursor: pointer;
}

.contextMenuBtn:hover {
    background-color: orange;
}

.contextMenuBtn img{
    vertical-align: text-bottom;
}

.contextMenuArrow{
    height: 16px;
    float: right;
}

/*Splashscreen*/
.infoBox{
    height:50px;
    width:300px;
    
    font-size: 20px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    
    padding: 10px;
    margin-left:-150px;
    margin-top:-25px;
    
    position:absolute;
    top:50%;
    left:50%;
    z-index: 1;
}

#loadingMsg{
    background: White;
    box-shadow: 0px 0px 20px White;
}

#infoBoxProgressbar{
    background-color: lightgreen;
    width: 0%;
    height: 10%;

    position: absolute;
    left: 0;
    bottom: 0;
}

/*2D Preview*/
#canvas2d{
    display:none;
    height:100vh;
    background-color:white;
}

#canvas2d img{
    height:100%;
    width:100%;
    object-fit:contain;
}

/*Side Info*/
#objInfoContainer{
    position:absolute;
    right:0px;
    margin:5px;
    margin-top: 30px;
    z-index:1;
    font-size:12px;
    max-height:90%;
    max-width:95%;
}

#objInfoHideBtn{
    z-index: 2;
    position: absolute;
    top: -26px;
    right: 0px;

    display: none;
}

#objInfoTableContainer{
    overflow: auto;
}

#objInfo{
    background-color: #f2f5f7;
    border-collapse:collapse;
    width:100%;
    white-space:nowrap;
    cursor:pointer;
}

#objInfo th{
    background-color:#093a5e;
    color:White;
    text-align:left;
    border-right: 1px solid #ffffff;
}

#objInfo th:last-of-type{
    border-right:none;
}

#objInfo tr{
    border-top:1px solid gray;
}

#objInfo td{
    width:auto;
}

#objInfo td:not(:last-of-type){
    border-right:1px solid gray;
}


/*Anmerkungen*/
.annotation{
    position: absolute;

    color: black;
    font-size: 16px;

    width: auto;
    height: auto;

    z-index: 1;
}

.annotation pre{
    background-color: white;   
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px; 
    margin: 0;
    float: left;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.annotation-input pre{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
}

.annotation-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: left;
    margin-top: 2px;
    position: sticky;
}

.annotation-close-button{
    display: none;
    position: sticky;
}

/*Modusanzeige*/
#modeDisplay{
    position: absolute;
    top: 40px;
    left: 10px;

    transition: color 1s ease;

    background-color: rgba( 0, 0, 0, 0.5 );
    color: white;
    border-radius: 5px;

    font-size: 20px;
    padding: 4px;

    display: none;
    z-index: 2;
}

/*Small View*/
@media only screen and (max-width: 800px){ /*TODO read with from config*/
    #objInfoContainer{
        width:90%;
        left:5%;
        margin:0px;
        top:60%;
        height:40%;
        position:absolute;
    }
}