<div id="toolbar" onmousedown="onMouseDown( event )">
    <div id="toolbarContent">
        <!--Aktualisieren-->
        <button class="toolbarBtn" onclick="refreshPage()" title="Darstellung aktualisieren"><img src="img/icon_refresh.png"></button>
        
        <!--2D / 3D-->
        <button class="toolbarBtn" id="toolbarBtnDisplaymode" onclick="toggleDisplayMode()" title="Zur 3D-Ansicht wechseln">2D</button>

        <!--Ansichten-->
        <div class="dropdown">
            <button class="toolbarBtn" title="Benutzerdefinierte Ansichten"><img src="img/icon_picture_frame.png"></button>
            <div class="dropdown-content">
                <button class="dropdownContentBtn" onclick="views.showNextView()"><img src="img/icon_next.png"> Nächste Ansicht</button><br/>
                <button class="dropdownContentBtn" onclick="views.showPrevView()"><img src="img/icon_prev.png"> Vorherige Ansicht</button><br/>
                <button class="dropdownContentBtn" onclick="views.addView()"><img src="img/icon_favorite_add.png"> Ansicht hinzufügen</button><br/>
                <button class="dropdownContentBtn" onclick="views.deleteView()"><img src="img/icon_favorite_delete.png"> Ansicht löschen</button><br/>         
                <button class="dropdownContentBtn" onclick="views.overwriteView()"><img src="img/icon_save.png"> Ansicht überschreiben</button><br/>
                <button class="dropdownContentBtn" onclick="views.playPause()"><img src="img/icon_playPause.png"> Abspielen / pausieren</button><br/>
                <button class="dropdownContentBtn" onclick="views.generateInstructions()"><img src="img/icon_montage.png"> Bauanleitung erzeugen</button>
                <button class="dropdownContentBtn" onclick="popupWindow('viewOrder')"><img src="img/icon_list.png"> Reihenfolge ändern</button>
                
            </div>
        </div>
        <!--Perspektive-->
        <div class="dropdown">
            <button class="toolbarBtn" title="Perspektive wählen"><img src="img/icon_bottom.png"></button>
            <div class="dropdown-content">
                <button class="dropdownContentBtn" onclick="setPerspective('initial')">             <img src="img/icon_home.png"> Initiale Ansicht</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('top')">                 <img src="img/icon_top.png"> Von oben</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('bottom')">              <img src="img/icon_bottom.png"> Von Unten</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('left')">                <img src="img/icon_left.png"> Von links</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('right')">               <img src="img/icon_right.png"> Von rechts</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('front')">               <img src="img/icon_front.png"> Von vorne</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('back')">                <img src="img/icon_back.png"> Von hinten</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('cameraPerspective')">   <img src="img/icon_perspective.png"> Perspektivisch</button><br/>
                <button class="dropdownContentBtn" onclick="setPerspective('cameraOrthographic')">  <img src="img/icon_isometric.png"> Isometrisch</button><br/>
            </div>
        </div>

        <!--Darstellung-->
        <div class="dropdown">
            <button class="toolbarBtn" title="Darstellungsmodus"><img src="img/icon_style.png"></button>
            <div class="dropdown-content">
                <button class="dropdownContentBtn" onclick="setDrawingStyle('shaded')">           <img src="img/icon_shaded1.png"> Schattiert</button><br/>
                <button class="dropdownContentBtn" onclick="setDrawingStyle('shadedEdges')">      <img src="img/icon_shaded_edges.png"> Schattiert mit Kanten</button><br/>
                <button class="dropdownContentBtn" onclick="setDrawingStyle('realistic')">        <img src="img/icon_shaded.png"> Realistisch</button><br/>
                <button class="dropdownContentBtn" onclick="setDrawingStyle('transparent')">      <img src="img/icon_transparent.png"> Transparent</button><br/>
                <button class="dropdownContentBtn" onclick="setDrawingStyle('transparentEdges')"> <img src="img/icon_transparent_edges.png"> Transparent mit Kanten</button><br/>
                <button class="dropdownContentBtn" onclick="setDrawingStyle('wireframe')">        <img src="img/icon_cube.png"> Drahtgitter</button><br/>
                <button class="dropdownContentBtn" onclick="setDrawingStyle('documentation')">    <img src="img/icon_edges.png"> Zeichnung</button>
            </div>
        </div>

        <!--Messfunktionen-->
        <div class="dropdown">
            <button class="toolbarBtn" id="toolbarMeasureBtn" title="Messen von Dimensionen" onclick="setActiveMode('')"><img src="img/icon_measure.png"></button>
            <div class="dropdown-content">
                <button class="dropdownContentBtn" onclick="setActiveMode('measureThickness')"><img src="img/icon_thickness.png"> Materialstärke</button><br/>
                <button class="dropdownContentBtn" onclick="setActiveMode('measurePointToPoint')"><img src="img/icon_pointToPoint.png"> Punkt-zu-Punkt Distanz</button><br/>
                <button class="dropdownContentBtn" onclick="setActiveMode('measurePlaneToPoint')"><img src="img/icon_planeToPoint.png"> Ebene-zu-Punkt Distanz</button><br/>
                <button class="dropdownContentBtn" onclick="setActiveMode('measureAngle')"><img src="img/icon_angle.png"> Winkel</button>
            </div>
        </div>

        <!--Verschieben-->
        <div class="dropdown">
            <button class="toolbarBtn" id="toolbarBtnMovemode" title="Komponenten verschieben" onclick="setActiveMode('')" ><img src="img/icon_movemode.png"></button>
            <div class="dropdown-content">   
                <button class="dropdownContentBtn" onclick="setActiveMode('move')"><img src="img/icon_grab.png">Manuell verschieben</button><br/>
                <button class="dropdownContentBtn" onclick="explodeComplete()"><img src="img/icon_explode.png"> Modell explodieren</button><br/>
                <button class="dropdownContentBtn" onclick="restoreObjectPositions()"><img src="img/icon_collapse.png"> Modell wiederherstellen</button>
            </div>
        </div>

        <!--Koordinatensystem-->
        <button class="toolbarBtn" id="toolbarBtnAxeshelper" onclick="toggleAxeshelper()" title="Koordinatensystem anzeigen"><img src="img/icon_grafic_line_3d.png"></button>
        
        <!--Komponente ausblenden-->
        <button class="toolbarBtn" id="toolbarBtnObjHide" onclick="toggleObjHideMode()" title="Komponente ausblenden"><img id="toolbarImgObjHide" src="img/icon_cancel.png"></button>
    
        <!--Rotationszentrum festlegen-->
        <div class="dropdown">
            <button class="toolbarBtn" id="toolbarBtnSetCenter" title="Rotationszentrum festlegen" onclick="toggleSetCenterMode()" ><img src="img/icon_globe.png"></button>
            <div class="dropdown-content">   
                <button class="dropdownContentBtn" onclick="resetRotationCenter()">Auf Standardwert setzen</button>
            </div>
        </div>
        
        <!--Tooltip aktivieren / deaktivieren-->
        <button class="toolbarBtn" id="toolbarBtnToggleTooltip" onclick="toggleTooltipDisplay()" title="Tooptip aktivieren"><img id="toolbarImgToggleTooltip" src="img/icon_tooltipDisable.png"></button>    
        
        <!--Einstellungen-->
        <div class="dropdown" title="Einstellungen">
            <button class="toolbarBtn" id="toolbarBtnSettings"><img src="img/icon_settings.png"></button>
            <div class="dropdown-content">
                <button class="dropdownContentBtn" onclick="popupWindow('adjustProductStructure')">Produktstruktur anpassen</button><br/>
                <button class="dropdownContentBtn" onclick="popupWindow('adjustCoordinateSystem')">Koordinatensystem</button><br/>
                <button class="dropdownContentBtn" onclick="popupWindow('animationDuration')">Animationsdauer</button>
            </div>
        </div>

        <!--Information-->
        <div class="dropdown" title="Information">
            <button class="toolbarBtn"><img src="img/icon_status_information.png"></button>
            <div class="dropdown-content">
                <button class="dropdownContentBtn" onclick="table.showStatistics()">Statistik</button><br/>
                <button class="dropdownContentBtn" onclick="table.showProductStructure()">Produktstruktur</button><br/>
                <button class="dropdownContentBtn" onclick="table.showAbout()">Info über proALPHA PLM</button>
            </div>
        </div>
        
        <!--im Browser anzeigen-->
        <button class="toolbarBtn" id="toolbarBtnShowBrowser" onclick="showBrowser()" title="Im Web-Browser anzeigen"><img src="img/icon_browser.png"></button>

        <!--Suchfunktion-->
        <input type="text" class="toolbarTextInput" id="searchField" title="Suchen" onmouseover="enableCanvasCtrl(false)" onmouseout="enableCanvasCtrl(true)" onkeypress="handleSearchKeypress(event)">
        <button class="toolbarBtn" onclick="search()" title="Suche starten"><img src="img/icon_search.png"></button>

        <!--Bezeichnung für Ansicht-->
        <input type="text" class="toolbarTextInput" id="viewNamer" title="Name der Ansicht" onmouseover="enableCanvasCtrl(false)" onmouseout="enableCanvasCtrl(true)" onkeypress="views.handleViewNamerKeypress(event)">
    </div>
</div>